psutil==7.1.2
colorama==0.4.6
pydantic-extra-types==2.10.6
watchfiles==1.1.1
lm-format-enforcer==0.10.12
interegular==0.3.3
nvidia-curand-cu12==10.3.5.147
pycountry==24.6.1
nvidia-cusparse-cu12==12.3.1.170
antlr4-python3-runtime==4.9.3
qwen-vl-utils==0.0.14
nvidia-cufft-cu12==11.2.1.3
nanobind==2.9.2
nvidia-nvjitlink-cu12==12.4.127
starlette==0.49.3
huggingface-hub==0.36.0
rignore==0.7.4
outlines_core==0.1.26
typer==0.20.0
python-dotenv==1.2.1
typing_extensions==4.15.0
nvidia-cuda-cupti-cu12==12.4.127
msgspec==0.19.0
prometheus-fastapi-instrumentator==7.1.0
tiktoken==0.12.0
numba==0.61.0
httptools==0.7.1
nvidia-cudnn-cu12==9.1.0.70
codetiming==1.4.0
uvloop==0.22.1
pydantic_core==2.41.4
lark==1.2.2
fastapi==0.121.0
uvicorn==0.38.0
tensordict==0.6.2
dnspython==2.8.0
msgpack==1.1.1
pyarrow==21.0.0
filelock==3.20.0
anyio==4.11.0
airportsdata==20250909
mistral_common==1.8.5
typing-inspection==0.4.2
hydra-core==1.3.2
blake3==1.0.8
opencv-python-headless==4.12.0.88
partial-json-parser==0.2.1.1.post6
gguf==0.10.0
nvidia-cusparselt-cu12==0.6.2
flash_attn==2.5.8
torch==2.6.0
pydantic==2.12.3
bert-score==0.3.13
llvmlite==0.44.0
nvidia-cusolver-cu12==11.6.1.9
nvidia-nccl-cu12==2.21.5
torchaudio==2.6.0
wandb==0.21.3
nvidia-nvtx-cu12==12.4.127
torchvision==0.21.0
triton==3.2.0
sentry-sdk==2.43.0
email-validator==2.3.0
hf-xet==1.2.0
ray==2.51.1
compressed-tensors==0.9.2
annotated-doc==0.0.3
depyf==0.18.0
av==16.0.1
outlines==0.1.11
llguidance==0.7.30
nvidia-cublas-cu12==12.4.5.8
vllm==0.8.3
Jinja2==3.1.6
diskcache==5.6.3
distro==1.9.0
rouge_score==0.1.2
nvidia-cuda-nvrtc-cu12==12.4.127
fastapi-cloud-cli==0.3.1
tokenizers==0.21.4
rich-toolkit==0.15.1
numpy==2.1.3
nvidia-cuda-runtime-cu12==12.4.127
transformers==4.51.0
xformers==0.0.29.post2
verl==0.2.0.dev0
jiter==0.11.1
torchdata==0.11.0
xgrammar==0.1.17
omegaconf==2.3.0
python-multipart==0.0.20
fastapi-cli==0.0.14
websockets==15.0.1
openai==2.7.1
verl==0.2.0.dev0
jupyter_core==5.7.2
jsonschema==4.23.0
rfc3987==1.3.8
simpervisor==1.0.0
jupyter-server-mathjax==0.2.6
jupyter_client==8.4.0
jupyter-console==6.6.3
jupyter_bokeh==2.0.4
jupyter-server-proxy==1.6.0
jupyter==1.0.0
jupyter_latex_envs==1.4.6
jupyter_packaging==0.12.3
jupyter-dash==0.4.2
jupyter-js-widgets-nbextension==0.0.2.dev0
jupyter_server==2.14.2
h5grove==0.0.14
jupyterlab-launcher==0.13.1
websocket-client==1.8.0
python-json-logger==2.0.7
notebook_shim==0.2.4
orjson==3.10.7
jupyterlab-hdf==1.3.0
jupyter_contrib_nbextensions==0.7.0
jupyter_contrib_core==0.4.2
jupyter-highlight-selected-word==0.2.0
jupyter_nbextensions_configurator==0.6.4
torch_spline_conv==1.2.2
torch_scatter==2.1.2
torch-geometric==2.6.1
torchmetrics==1.4.3
torch_sparse==0.6.18
torch_cluster==1.6.3
pytorch-lightning==2.4.0
graphene==3.3
nvidia-ml-py==12.560.30
mlflow-skinny==2.17.0
mlflow==2.17.0
Deprecated==1.2.14
graphql-relay==3.2.0
opentelemetry-semantic-conventions==0.48b0
filelock==3.11.0
typeguard==4.1.2
nni==3.0
opentelemetry-sdk==1.27.0
prettytable==3.11.0
databricks-sdk==0.34.0
scikit-nni==0.2.1
aniso8601==9.0.1
opentelemetry-api==1.27.0
mpi4py==4.0.1
graphql-core==3.2.5
xxhash==3.5.0
multiprocess==0.70.16
datasets==3.0.1
oauth2client==3.0.0
Flask-Compress==1.12
itsdangerous==2.1.2
querystring-parser==1.2.4
scikit-image==0.19.0
yapf==0.29.0
pyproj==3.7.0
PyVirtualDisplay==1.3.2
numexpr==2.10.1
zope.interface==5.4.0
notebook==6.4.13
huggingface-hub==0.25.2
lesscpy==0.14.0
gin-config==0.3.0
plaidml==0.7.0
simplejson==3.17.0
dash-table==5.0.0
jmespath==0.9.4
imageio==2.8.0
boto==2.49.0
tweepy==3.8.0
contextlib2==0.5.5
mlxtend==0.17.2
evdev==1.7.1
QtPy==1.9.0
ipython-genutils==0.2.0
torchfile==0.1.0
PythonWebHDFS==0.2.3
pylev==1.4.0
google-auth==2.35.0
alembic==1.7.6
iso8601==1.0.2
eliot==1.14.0
JPype1==1.5.0
pythran==0.11.0
google-pasta==0.1.8
setuptools-git==1.2
marshmallow==3.14.1
monotonic==1.4
semver==2.13.0
ml_dtypes==0.5.0
ipywidgets==7.5.1
dash==2.3.1
opt-einsum==3.2.0
folium==0.10.0
pymongo==3.10.1
lxml==4.9.1
PuLP==2.5.1
LunarCalendar==0.0.9
sniffio==1.2.0
pyOpenSSL==24.2.1
typing==3.7.4.1
path==16.2.0
httpstan==4.6.1
PyMeeus==0.5.10
astropy-iers-data==0.2024.10.14.0.32.55
oauthenticator==0.12.1
eliot-tree==21.0.0
boltons==21.0.0
python-jose==3.3.0
future==0.18.2
easydict==1.9
catboost==1.2
appdirs==1.4.4
boto3==1.27.1
urllib3==1.26.20
atomicwrites==1.3.0
websockets==10.3
lazy-object-proxy==1.4.3
deprecation==2.1.0
holidays==0.12
scooby==0.5.5
ephem==4.1.6
pamela==1.0.0
pyaml==19.12.0
deap==1.3.1
category-encoders==2.0.0
lime==0.1.1.37
lightgbm==2.3.1
statsmodels==0.14.0
googleapis-common-protos==1.56.2
httplib2==0.17.4
albumentations==1.1.0
pynput==1.7.6
clikit==0.6.1
tenacity==8.0.1
widgetsnbextension==3.5.1
colorama==0.4.4
python_speech_features==0.6
GitPython==3.1.26
pytest-rerunfailures==11.1.2
SQLAlchemy==1.4.36
threadpool==1.3.2
hyperopt==0.1.2
convertdate==2.3.2
flatbuffers==1.12
json-tricks==3.15.5
stopit==1.1.2
lunardate==0.2.0
seaborn==0.10.0
astor==0.8.1
visdom==0.2.4
benepar==0.2.0
versioneer==0.18
scs==3.2.0
bokeh==2.3.2
korean-lunar-calendar==0.2.1
colour==0.1.5
python-language-server==0.36.2
jsonpointer==2.3
cvxpy==1.1.15
h5py==3.12.1
cligj==0.7.2
pandasgui==0.2.7
flake8==3.8.4
pytoolconfig==1.2.2
nbclassic==0.3.6
py-cpuinfo==5.0.0
requests-oauthlib==2.0.0
geopandas==0.5.1
meshio==4.4.5
PyQtWebEngine==5.15.2
pyflakes==2.2.0
asgiref==3.4.1
ecdsa==0.17.0
scikit-plot==0.3.7
descartes==1.1.0
webargs==8.1.0
PyQt5==5.15.0
namedlist==1.7
hdf5storage==0.1.15
ansi2html==1.7.0
tables==3.7.0
gensim==3.8.0
dm-haiku==0.0.1
databricks-cli==0.17.2
gym==0.26.2
greenlet==1.1.2
enum34==1.1.10
cryptography==43.0.1
termstyle==0.1.11
crashtest==0.3.0
rope==0.16.0
wrapt==1.14.1
tifffile==2022.5.4
pyLDAvis==2.1.2
pyerfa==2.0.0.1
kss==1.3.1
pydocstyle==6.1.1
ecos==2.0.7.post1
docker==5.0.3
transformers==4.33.1
rsa==4.9
munch==2.5.0
imbalanced-learn==0.5.0
pyglet==1.5.0
beautifulsoup4==4.6.0
pygal==2.4.0
pbr==5.5.0
testpath==0.6.0
dash-html-components==2.0.0
jupyterhub==4.1.6
mypy-extensions==0.4.3
selenium==3.141.0
branca==0.4.0
docopt==0.6.0
mmdnn==0.3.1
sentence-transformers==2.1.0
soynlp==0.0.493
portpicker==1.3.1
avro-python3==1.9.1
python-jsonrpc-server==0.4.0
argo-workflows==3.6.0
gast==0.5.5
PySocks==1.7.1
termcolor==1.1.0
s3transfer==0.6.1
pycodestyle==2.6.0
torch-struct==0.5
msgpack-python==0.5.6
qudida==0.0.4
konlpy==0.5.2
sacrebleu==1.3.6
patsy==0.5.6
toml==0.10.2
astropy==6.0.0
ruamel.yaml==0.18.6
jaxlib==0.4.34
sacred==0.8.1
autopep8==1.5
PyQt5_sip==12.8.1
aiozmq==0.9.0
dill==0.3.8
EasyProcess==0.3
protobuf==3.20.3
safetensors==0.4.5
snowballstemmer==2.2.0
osqp==0.5.0
ujson==5.2.0
prometheus-flask-exporter==0.20.3
Brotli==1.0.9
pycairo==1.20.1
lz4==3.1.9
PyWavelets==1.1.1
dash-core-components==2.0.0
factor_analyzer==0.3.2
python-lsp-server==1.4.1
opencv-python==4.10.0.84
nose==1.3.3
uritemplate==3.0.1
dopamine-rl==3.0.1
beniget==0.4.0
plotly==5.7.0
gitdb==4.0.5
opencv-python-headless==4.6.0.66
progressbar==2.5
deepdish==0.3.6
Fiona==1.8.21
anyio==3.4.0
rednose==1.3.0
cmdstanpy==0.9.5
wslink==1.6.6
pyls-black==0.4.4
pyshp==2.2.0
jsonpatch==1.32
accelerate==1.0.1
pystan==3.3.0
Flask==2.1.2
promise==2.3
pyrsistent==0.19.3
nltk==3.7
botocore==1.30.1
black==22.6.0
kubernetes==22.6.0
certipy==0.1.3
pygame==2.3.0
parso==0.7.1
astroid==2.11.2
vtk==9.2.6
colored==1.4.3
google-api-core==2.8.2
qtconsole==4.7.1
python-lsp-jsonrpc==1.0.0
Shapely==1.7.0
pysimdjson==3.2.0
pydotplus==2.0.2
retrying==1.3.3
deepmerge==0.1.0
test-generator==0.1.1
pyasn1==0.6.1
scikit-surprise==1.1.1
funcy==2.0
PyJWT==2.4.0
pyasn1_modules==0.4.1
isort==4.3.21
pastel==0.2.0
python-xlib==0.31
fasteners==0.15
mimeparse==0.1.3
jsonpickle==1.5.0
fire==0.3.1
maproxy==0.0.12
pyvo==1.0
qgrid==1.3.1
coverage==4.5.4
tomlkit==0.10.2
mccabe==0.6.1
mne==0.20.5
gunicorn==20.1.0
scikit-optimize==0.9.0
graphviz==0.14
hijri-converter==2.2.3
async-generator==1.10
featuretools==0.9.1
gym-notices==0.0.6
click-plugins==1.1.1
peft==0.13.2
tokenizers==0.13.3
oauthlib==3.2.2
pylint==2.13.5
dacite==1.6.0
jupyter-telemetry==0.1.0
sentencepiece==0.1.96
schema==0.7.1
pyvista==0.41.1
update-checker==0.16
fastavro==1.9.7
ruamel.yaml.clib==0.2.8
smmap==3.0.5
vecstack==0.4.0
pexpect==4.8.0
sqlparse==0.4.2
jedi==0.17.2
bayesian-optimization==1.1.0
dtreeviz==0.8.1
simpleaudio==1.0.4
responses==0.21.0
transformer_engine==1.10.0+a7e9d3e
einops==0.8.0
flash_attn==2.4.2
torch_tensorrt==2.5.0a0
nvidia-pyindex==1.0.9
nvidia-modelopt==0.15.1
polygraphy==0.49.12
tensorrt==10.4.0
distributed==2024.7.1
entrypoints==0.4
polars==1.2.1
cachetools==5.5.0
pynvml==11.4.1
asciitree==0.3.3
frozenlist==1.4.1
pylibraft==24.8.0
cupy-cuda12x==13.2.0
librmm==24.8.0
packaging==23.2
scipy==1.14.0
cloudpickle==3.0.0
nx-cugraph==24.8.0
raft-dask==24.8.0
nvidia-nccl-cu12==2.22.3
pyarrow==16.1.0
ply==3.11
nvtx==0.2.5
numpy==1.24.4
cugraph==24.8.0
dask-cuda==24.8.0
pylibcugraphops==24.8.0
cugraph-service-server==24.8.0
partd==1.4.2
cugraph-equivariant==24.8.0
aiohappyeyeballs==2.4.0
zict==3.0.0
distributed-ucxx==0.39.0
fastrlock==0.8.2
cudf==24.8.0
cuda-python==12.6.0
rapids-dask-dependency==24.8.0a0
toolz==0.12.1
ucxx==0.39.0
cugraph-dgl==24.8.0
cugraph-pyg==24.8.0
yarl==1.9.4
cudf-polars==24.8.0
pandas==2.2.2
rich==13.7.1
cugraph-service-client==24.8.0
kvikio==24.8.0
dask==2024.7.1
async-timeout==4.0.3
treelite==4.3.0
pynvjitlink==0.3.0
pylibcugraph==24.8.0
pytz==2023.4
xgboost==2.1.1
dask-cudf==24.8.0
zarr==2.18.2
aiohttp==3.10.5
tzdata==2024.1
idna==3.7
importlib_metadata==7.2.1
zipp==3.20.0
multidict==6.0.5
locket==1.0.0
rmm-cu12==24.8.2
dask-expr==1.1.9
pylibwholegraph==24.8.0
thriftpy2==0.4.20
ucx-py==0.39.0
cuml==24.8.0
tblib==3.0.0
grpcio==1.62.1
aiosignal==1.3.1
rmm==24.8.0
libkvikio==24.8.0
numcodecs==0.11.0
tabulate==0.9.0
apex==0.1
torchvision==0.20.0a0
nvidia-cudnn-frontend==1.6.0
pybind11_global==2.13.5
onnx==1.16.2
contourpy==1.3.0
matplotlib==3.9.2
kiwisolver==1.4.6
pyparsing==3.1.4
pycocotools==2.0+nv0.8.0
cycler==0.12.1
fonttools==4.53.1
pillow==10.4.0
nvidia-nvimgcodec-cu12==0.3.0.5
dm-tree==0.1.8
nvidia-dali-cuda120==1.41.0
pytorch-triton==3.0.0+dedb7bdf3
ninja==1.11.1.1
lintrunner==0.12.5
optree==0.12.1
types-dataclasses==0.6.6
torch==2.5.0a0+b465a5843b.nv24.9
mpmath==1.3.0
networkx==3.3
fsspec==2024.6.1
sympy==1.13.1
opencv==4.7.0
tornado==6.2
jupytext==1.16.4
jupyterlab-tensorboard-pro==4.0.0
pathspec==0.12.1
mdit-py-plugins==0.4.1
debugpy==1.8.5
ipython==8.27.0
jupyterlab_pygments==0.3.0
comm==0.2.2
fqdn==1.5.1
matplotlib-inline==0.1.7
python-hostlist==1.23.0
json5==0.9.25
ptyprocess==0.7.0
terminado==0.18.1
jupyter_server_terminals==0.5.3
absl-py==2.1.0
argon2-cffi==23.1.0
jupyter-lsp==2.2.5
Markdown==3.7
pyzmq==26.2.0
tensorboard==2.16.2
nest-asyncio==1.6.0
webcolors==24.8.0
fastjsonschema==2.20.0
jupyter-events==0.10.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
argon2-cffi-bindings==21.2.0
async-lru==2.0.4
bleach==6.1.0
tensorboard-data-server==0.7.2
jupyterlab_code_formatter==3.0.2
h11==0.14.0
executing==2.1.0
nbclient==0.10.0
Send2Trash==1.8.3
nbformat==5.10.4
jupyterlab==4.2.5
jupyterlab_server==2.27.3
httpcore==1.0.5
Werkzeug==3.0.4
soupsieve==2.6
rpds-py==0.20.0
arrow==1.3.0
defusedxml==0.7.1
referencing==0.35.1
isoduration==20.11.0
psutil==6.0.0
ipykernel==6.29.5
rfc3339-validator==0.1.4
traitlets==5.14.3
tinycss2==1.3.0
pandocfilters==1.5.1
wcwidth==0.2.13
babel==2.16.0
httpx==0.27.2
nbconvert==7.16.4
mistune==3.0.2
asttokens==2.4.1
python-dateutil==2.9.0.post0
stack-data==0.6.3
overrides==7.7.0
pure_eval==0.2.3
jsonschema-specifications==2023.12.1
types-python-dateutil==2.9.0.20240821
rfc3986-validator==0.1.1
webencodings==0.5.1
uri-template==1.3.0
soxr==0.5.0.post1
pluggy==1.5.0
pytest-xdist==3.6.1
iniconfig==2.0.0
numba==0.60.0
execnet==2.1.1
typing_extensions==4.12.2
xdoctest==1.0.2
expecttest==0.1.3
mkl-include==2021.1.1
platformdirs==4.2.2
language_data==1.2.0
exceptiongroup==1.2.2
tbb==2021.13.1
scikit-learn==1.5.1
six==1.16.0
pytest-shard==0.1.2
regex==2024.7.24
astunparse==1.6.3
murmurhash==1.0.10
pydantic==2.8.2
cloudpathlib==0.19.0
click==8.1.7
attrs==24.2.0
intel-openmp==2021.4.0
joblib==1.4.2
soundfile==0.12.1
markdown-it-py==3.0.0
annotated-types==0.7.0
spacy-loggers==1.0.5
weasel==0.4.1
Jinja2==3.1.4
typer==0.12.5
PyYAML==6.0.2
blis==0.7.11
srsly==2.4.8
pytest-flakefinder==1.1.0
mock==5.1.0
Pygments==2.18.0
Cython==3.0.11
llvmlite==0.43.0
hypothesis==5.35.1
thinc==8.2.5
mdurl==0.1.2
requests==2.32.3
tqdm==4.66.5
pybind11==2.13.5
mkl==2021.1.1
cffi==1.17.0
sortedcontainers==2.4.0
spacy==3.7.6
lazy_loader==0.4
pycparser==2.22
pytest==8.1.1
wasabi==1.1.3
preshed==3.0.9
audioread==3.0.1
catalogue==2.0.10
tomli==2.0.1
cymem==2.0.8
pydantic_core==2.20.1
certifi==2024.8.30
marisa-trie==1.2.0
msgpack==1.0.8
confection==0.1.5
pooch==1.8.2
mkl-devel==2021.1.1
decorator==5.1.1
spacy-legacy==3.0.12
threadpoolctl==3.5.0
librosa==0.10.1
charset-normalizer==3.3.2
shellingham==1.5.4
langcodes==3.4.0
smart-open==7.0.4
setuptools==70.3.0
cmake==3.30.2
pip==24.2
wheel==0.44.0
nvfuser==0.2.8a0+346e51c
lightning-thunder==0.2.0.dev0
igraph==0.11.6
lightning-utilities==0.11.7
looseversion==1.3.0
texttable==1.7.0
bitsandbytes==0.44.2.dev0
cmdtest==0.32+git
numpy==1.21.5
cliapp==1.20180812.1
importlib-metadata==4.6.4
Markdown==3.3.6
Mako==1.1.3
zipp==1.0.0
MarkupSafe==2.0.1
GDAL==3.4.1
screen-resolution-extra==0.0.0
more-itertools==8.10.0
PyYAML==5.4.1
PyGObject==3.42.1
devscripts==2.22.1ubuntu1
mercurial==6.1.1
xkit==0.0.0
ttystatus==0.38
